.page-home {
  padding: 60px 0;

  &__title {
    margin-bottom: 60px;
  }

  &__button {
    margin-bottom: 60px;
  }

  &__inline-image-example {
    width: 150px;
    height: 116px;
    border-bottom: 1px solid white;
    background-image: inline('../images/rubber-duck.png');
    color: #000;
  }
}

html,
body {
  background-color: #000;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;

  &__button {
    @include hover-default;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.page-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: none;
  width: 95vh;
  height: 90vh;
  transform: translate(-50%, -50%);
}
