{% extends './_layouts/base.njk' %}

{% block content %}
  <div class="page-center" data-page-center></div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_PATH }}/js/abstraction3.js"></script>
{% endblock %}

