{% extends './_layouts/base.njk' %}

{% block content %}
  <div class="enter" data-enter>
    <button class="enter__button" data-enter-button>Enter</button>
  </div>
  <div class="page-center" data-page-center></div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_PATH }}/js/crows.js"></script>
{% endblock %}

